@import "~bootstrap/scss/bootstrap";

body {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(179.9deg, #220D46 0.09%, rgba(67, 28, 126, 0.962027) 48.44%, rgba(40, 15, 75, 0.932962) 74.44%, rgba(40, 15, 75, 0.932962) 75.59%, rgba(40, 15, 75, 0.932962) 83.27%, rgba(19, 9, 28, 0.91) 99.9%, rgba(74, 21, 116, 0) 99.91%);
  // border-radius: 10px;

}
.title{
position: absolute;
width: 206px;
height: 36px;
left: 80px;
top: 50px;
font-family: Rosario;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 24px;

color: #FFFAFA;
}

img{
position: absolute;
right: 500px;
top: 160px;
width: 176px;
height: 174px;
border-radius: 120px;
background-image: url(ball.jpg)
};

.row {margin: 0 -5px;}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  // width: 100%;
  // display: block;
  // margin-bottom: 20px;
  float: left;
  width: 25%;
  padding: 30px;
  // left: -70px;
}
.card {
  // position: absolute;
  width: 350px;
  height: 200px;
  top: 200px;
  left: 80px;
  // float: ;
  display: inline-block;
  
  background: radial-gradient(97.57% 265% at 0% 7.2%, rgba(255, 252, 252, 0.8) 0%, #FFFFFF 0.01%, rgba(255, 255, 255, 0.968847) 0.02%, rgba(255, 252, 252, 0.75) 100%);
  filter: blur(1px);
  border-radius: 10px;
}
