@import "~bootstrap/scss/bootstrap";

body {
  // width: 100%;
  // height: 100%;
  // background: -webkit-linear-gradient(179.9deg, #1d0b3b 0.09%, rgba(52, 16, 107, 0.962) 48.44%, rgba(41, 18, 73, 0.933) 74.44%, rgba(40, 15, 75, 0.932962) 75.59%, rgba(40, 15, 75, 0.932962) 83.27%, rgba(19, 9, 28, 0.91) 99.9%, rgba(74, 21, 116, 0) 99.91%);
  // border-radius: 10px;
// position: absolute;
width: 100%;
height: 100%;
background: rgb(75, 34, 149);
background: radial-gradient(circle, rgba(68, 35, 90, 0.804) 0%, rgb(36, 16, 49)100%);

// background: radial-gradient(88.97% 283.88% at 9.18% 24.9%, #2B0E38 0%, rgba(41, 13, 53, 0.86) 22.36%, #3B0F4A 40.45%, #44236D 74.37%, rgba(82, 88, 112, 0.84) 100%, rgba(34, 8, 55, 0.89) 100%);
// mix-blend-mode: normal;
/* Gray 2 */

// border: 1px solid #4F4F4F;
// box-sizing: border-box;
// backdrop-filter: blur(10px);

}
.title{
position: absolute;
width: 206px;
height: 36px;
left: 80px;
top: 50px;
font-family: Rosario;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 24px;

color: #FFFAFA;
}

.image-ball{
position: absolute;
right: 500px;
top: 160px;
width: 176px;
height: 174px;
border-radius: 120px;
background-image: url(ball.jpg)
};
.img-logo{
position: absolute;
left: 260px;
top: 30px;
width: 100px;
height: 70px;
background-image: url(https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nba.png&w=100&h=70&transparent=true);
background-repeat: no-repeat;
background-size: 100px 70px;
border: none;
};

.row {margin: 0 -5px;}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
  padding: 30px;
}
.card {
  // position: absolute;
  width: 450px;
  height: 230px;
  // top: 200px;
  // left: 80px;
  float: left;
  display: block;
  
  background: radial-gradient(97.57% 265% at 0% 7.2%, rgba(255, 252, 252, 0.8) 0%, #FFFFFF 0.01%, rgba(255, 255, 255, 0.968847) 0.02%, rgba(255, 252, 252, 0.75) 100%);
  // filter: blur(1px);
  border-radius: 10px;
  margin: 10px;
  transition-duration: 0.5s;
}
.card:hover, .card:focus, .card:active {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
// .calendar{
//   margin-top: 100px;
//   margin-left: 80px;
// }
.forum{
position: absolute;
width: 150px;
height: 30px;
right: 25px;
top: 30px;
font-family: Rosario;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;

color: #584949;

}
.form-group{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  float: left;
  width: 25%;
  margin-top: 6px;
}

.container-form{
  position: absolute;
  margin-left: 50px;
  margin-top: 150px;
  
}
.button-join{
  margin-left: 1250px;
  margin-top: 25px;
}
.status{
  margin-top: -20px;
  margin-left: 350px;
  color:rgb(57, 32, 80);
}
.home-score{
  margin-top:-55px;
  margin-left: 80px;
  font-size: 25px;
  color: bold;
}
.visitor-score{
  margin-top: -55px;
  margin-left: 80px;
  font-size: 25px;
  color: bold;
}
// .visitor-team{
//   margin-top: 6px;
//   // margin-left: 3px;
// }
.season{
  margin-top: -50px;
  margin-left: 350px;
  color:rgb(55, 8, 98);
}
.date{
  color:rgb(71, 13, 126);
  margin-left: 20px;
  margin-top: 15px;
}
.logo{
  height: 2px;
}

.logo2{
  width: 60px;
  height: 50px;
  margin: 8px;
  // background-repeat: no-repeat;

}
.home-team{
  margin-left:-280px;
  margin-top: 20px;
}
.visitor-team{
  margin-left:-280px;
  margin-top: 20px;
}
.back-home{
  margin-top: 20px;
  margin-left: 1250px;
  width: 50px;
  border-radius: 3px;
  background-color: antiquewhite;
}

.container-card{
  margin-top: 150px;
}
.button-comment{
  margin-top: 20px;
  margin-left: 80px;
}
form.search-bar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #77a7cf;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.search-bar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 30%;
  background: #f1f1f1;
  margin-top: -9990px;
  margin-left: 500px;
}
form.search-bar button:hover {
  background: #6286a3;
}

form.search-bar::after {
  content: "";
  clear: both;
  display: table;
}
form {
  display: block;
  margin-top: -6em;
  margin-left: 550px;
}

.filtered-team{
  font-size: 20px;
  color: whitesmoke;
}